<!DOCTYPE html>
<html>
	<head>
		<title>Discover Lagos</title>
		<meta charset="utf-8" lang="en">
        <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="css/style.css" />
		    <script src="js/jquery-1.9.1.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
        <script src="js/angular.min.js"></script>
        <script src="js/fourSq.js" type="text/javascript"></script>
	</head>
	<body ng-app="fourSquare" ng-controller="fourController as fCtrl">
		<div id="head" class="navbar-inverse" role="navigation">
			<h1>Discover places in Lagos through Four Square</h1>

            <ul id="navlist">
                <li><a href ng-click="fCtrl.selectTab(fCtrl.sectOptions[0])" ng-class="{ active:fCtrl.isSelected(fCtrl.sectOptions[0])}" >Food</a></li>
                <li><a href ng-click="fCtrl.selectTab(fCtrl.sectOptions[1])" ng-class="{ active:fCtrl.isSelected(fCtrl.sectOptions[1])}">Drinks</a></li>
                <li><a href ng-click="fCtrl.selectTab(fCtrl.sectOptions[2])" ng-class="{ active:fCtrl.isSelected(fCtrl.sectOptions[2])}">Shops</a></li>
                <li><a href ng-click="fCtrl.selectTab(fCtrl.sectOptions[3])" ng-class="{ active:fCtrl.isSelected(fCtrl.sectOptions[3])}">Arts</a></li>
                <li><a href ng-click="fCtrl.selectTab(fCtrl.sectOptions[4])" ng-class="{ active:fCtrl.isSelected(fCtrl.sectOptions[4])}">Outdoors</a></li>
                <li><a href ng-click="fCtrl.selectTab(fCtrl.sectOptions[5])" ng-class="{ active:fCtrl.isSelected(fCtrl.sectOptions[5])}">Sights</a></li>
            </ul>
		</div>
        
       <div id="intro" ng-show="!fCtrl.show">
         <h2>No results found</h2>
       </div> 
  
      <div id="left" ng-show="fCtrl.show">
           <img id="spinner" src="img/loader.GIF" ng-show="fCtrl.spinner"/>
           <div class="col-lg-12 gradient" ng-repeat="item in fCtrl.results" ng-show="!fCtrl.spinner" 
              ng-class="{ blue:fCtrl.isClicked($index)}" ng-click="fCtrl.geoLocate(item.venue.location.address, $index)">
        			 <img ng-src='{{item.venue.photoUrl}}' style="width:150px; heigth:130px;"/>
        			 <h2>{{item.venue.name}}</h2>
        			 <p>Address:  {{item.venue.location.address}}</p>
        			 <p>Cost: {{item.venue.price.message || "n/a"}}</p>
        			 <p>Rating: {{item.venue.rating || "n/a"}}</p>
           </div>
       
      </div>
      <div id="right" ng-show="fCtrl.show">
         <div id="control">
            <form>
            <strong>Start:</strong>
            <input id="start" type="text" ng-model="fCtrl.start" placeholder="From" />
            <strong>End:</strong>
            <input id="end" type="text" ng-model="fCtrl.end" placeholder="To" />
            <button id="route" ng-click="fCtrl.calcRoute(true)">Find place</button>
            </form>
         </div>
         <div id="directions-panel" ng-show="directPanel"></div>
         <div id="map-canvas"></div>
    </div>
      
		

	</body>
</html>